.head-adidas{
    margin: 0;
    background-color: rgb(216, 125, 40);
    color: black;
    height: 40px;
}

.head-adidas ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin: 0; padding: 0;
}

.head-adidas ul li{
    width: 100%; height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-adidas ul li:hover{
    background-color: rgb(110, 107, 104);
}